<!doctype html>
<html>
  <head>
    <title>Reset Password</title>
  </head>

  <body>
    <form id="reset-form">
      <input
        type="password"
        id="password"
        placeholder="New Password"
        required
      />

      <button type="submit">Update Password</button>
    </form>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script>
      const requestId = window.location.pathname.split("/").pop();

      document
        .getElementById("reset-form")
        .addEventListener("submit", async (e) => {
          e.preventDefault();

          const password = document.getElementById("password").value;

          const response = await axios.post("/password/updatepassword", {
            requestId,
            password,
          });

          alert(response.data.message);

          window.location.href = "/login";
        });
    </script>
  </body>
</html>
